<section class="callback">
	<div class="container">
		<div class="callback__description">
			<span class="caption"> Контактна форма </span>
			<form action="" class="callback__form">
				<fieldset>
					<legend class="section-title">Зв'яжіться зі мною.</legend>
					<label class="input">
						<span class="input__label">Ваше ім'я</span>
						<input type="text" class="input__input" placeholder="Ваше ім'я" />
					</label>
					<label class="input">
						<span class="input__label">Ваш номер телефону</span>
						<input
							type="tel"
							class="input__input"
							placeholder="+380 (___) ___ ___ ___"
						/>
					</label>
					<span class="callback__notice">
						Заповніть форму і лікар зв'яжеться з вами впродовж однієї години.
					</span>
				</fieldset>
				<button type="submit" class="btn-accent btn-icon">
					Надіслати
					<span class="icon">
						<svg><use href="@img/sprite.svg#arrow" /></svg>
					</span>
				</button>
			</form>
		</div>
		<img src="@img/callback-form.jpg" srcset="@img/callback-form@2x.jpg 2x"  alt="img" class="callback__img" />
	</div>
</section>
