<footer>
	<div class="container">
		<div class="footer__head">
			<img src="@img/logo-footer.png" alt="logo" />
			<span class="footer__copyright">
				©Copyright 2023, All Rights Reserved.
			</span>
		</div>
		<nav>
			<h3>Розділи</h3>
			<ul>
				<li>
					<a href="">Послуги</a>
				</li>
				<li>
					<a href="">Про мене</a>
				</li>
				<li>
					<a href="">Види протезів</a>
				</li>
				<li>
					<a href="">Блог</a>
				</li>
			</ul>
		</nav>
		<nav>
			<h3>Контакти</h3>
			<ul>
				<li><a href="">+099 55 226 09 32</a></li>
				<li><a href="">statkevich@gmail.com</a></li>
				<li><a href="">Дружби Народів 26</a></li>
			</ul>
		</nav>
		<div>
			<h3>Соціальні мережі</h3>
			<ul>
				<li>
					<a href="">
						<svg>
							<use href="@img/sprite.svg#twitter" />
						</svg>
					</a>
				</li>
				<li>
					<a href="">
						<svg>
							<use href="@img/sprite.svg#instagram" />
						</svg>
					</a>
				</li>
				<li>
					<a href="">
						<svg>
							<use href="@img/sprite.svg#facebook" />
						</svg>
					</a>
				</li>
				<li>
					<a href="">
						<svg>
							<use href="@img/sprite.svg#telegram" />
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<script src="js/app.min.js"></script>
