<footer class="footer">
	<div class="container">
		<div class="footer__head">
			<div class="footer__logo">
				<svg>
					<use href="@img/sprite.svg#logo" />
				</svg>
			</div>
			<span class="footer__copyright">
				©Copyright 2023, All Rights Reserved.
			</span>
		</div>
		<nav class="footer-menu">
			<h3 class="footer-menu__title">Розділи</h3>
			<ul class="footer-menu__list">
				<li class="footer-menu__item">
					<a href="" class="footer-menu__link" aria-label="link">Послуги</a>
				</li>
				<li class="footer-menu__item">
					<a href="" class="footer-menu__link" aria-label="link">Про мене</a>
				</li>
				<li class="footer-menu__item">
					<a href="" class="footer-menu__link" aria-label="link">
						Види протезів
					</a>
				</li>
				<li class="footer-menu__item">
					<a href="" class="footer-menu__link" aria-label="link">Блог</a>
				</li>
			</ul>
		</nav>
		<nav class="footer-contacts">
			<h3 class="footer-contacts__title">Контакти</h3>
			<ul class="footer-contacts__list">
				<li class="footer-contacts__item">
					<a href="" class="footer-contacts__link" aria-label="link">
						+099 55 226 09 32
					</a>
				</li>
				<li class="footer-contacts__item">
					<a href="" class="footer-contacts__link" aria-label="link">
						statkevich@gmail.com
					</a>
				</li>
				<li class="footer-contacts__item">
					<a href="" class="footer-contacts__link" aria-label="link">
						Дружби Народів 26
					</a>
				</li>
			</ul>
		</nav>
		<div class="footer-social">
			<h3 class="footer-social__title">Соціальні мережі</h3>
			<ul class="footer-social__list">
				<li class="footer-social__item">
					<a href="" class="footer-social__link" aria-label="link">
						<svg>
							<use href="@img/sprite.svg#instagram" />
						</svg>
					</a>
				</li>
				<li class="footer-social__item">
					<a href="" class="footer-social__link" aria-label="link">
						<svg>
							<use href="@img/sprite.svg#facebook" />
						</svg>
					</a>
				</li>
				<li class="footer-social__item">
					<a href="" class="footer-social__link" aria-label="link">
						<svg>
							<use href="@img/sprite.svg#telegram" />
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>

<button class="to-top">
	<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M9 18L9 2M9 2L1 10M9 2L17 10" stroke="#1C253A" stroke-width="2" />
	</svg>
</button>