<header class="header">
	<div class="container header__container">
		<a href="/" class="logo">
			<svg>
				<use href="@img/sprite.svg#logo" />
			</svg>
		</a>
		<nav class="navigation">
			<button class="menu-toggle">
				<span></span>
				<span></span>
			</button>
			<ul class="navigation-list">
				<li class="navigation-list__item">
					<a href="/statkevych/services.html" class="navigation-list__link" aria-label="link">
						Послуги
					</a>
				</li>
				<li class="navigation-list__item">
					<a href="/#about" class="navigation-list__link" aria-label="link">
						Про мене
					</a>
				</li>
				<li class="navigation-list__item">
					<a href="#contacts" class="navigation-list__link" aria-label="link">
						Контакти
					</a>
				</li>
				<li class="navigation-list__item">
					<a href="/" class="navigation-list__link" aria-label="link">Блог</a>
				</li>
			</ul>
			<menu class="navigation-actions">
				<li class="actions__item">
					<a href="/" title="instagram" class="actions__link" aria-label="link">
						<svg>
							<use href="@img/sprite.svg#instagram" />
						</svg>
					</a>
				</li>
				<li class="actions__item mobile-only">
					<a href="/" title="instagram" class="actions__link" aria-label="link">
						<svg>
							<use href="@img/sprite.svg#facebook" />
						</svg>
					</a>
				</li>
				<li class="actions__item">
					<a href="/" title="instagram" class="actions__link" aria-label="link">
						<svg>
							<use href="@img/sprite.svg#telegram" />
						</svg>
					</a>
				</li>
				<li class="actions__item">
					<button class="actions__button modal-open" data-modal="callback" title="Безкоштовна консультація"
						aria-label="Безкоштовна консультація">
						Записатися на консультацію
					</button>
				</li>
			</menu>
		</nav>
		<button class="menu-toggle">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
</header>
<div class="header-overlay"></div>