<div class="modal">
	<div class="modal__overlay modal-close"></div>
	<form action="" class="modal__body" id="callback">
		<button class="btn-modal modal-close" title="закрти модальне вікно" aria-label="закрти модальне вікно">
			<svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M7.00023 5.58672L11.9502 0.636719L13.3642 2.05072L8.41423 7.00072L13.3642 11.9507L11.9502 13.3647L7.00023 8.41472L2.05023 13.3647L0.63623 11.9507L5.58623 7.00072L0.63623 2.05072L2.05023 0.636719L7.00023 5.58672Z"
					fill="currentColor" />
			</svg>
		</button>
		<fieldset>
			<legend class="section-title">Запис на консультацію</legend>
			<label class="input">
				<span class="input__label">Ваше ім'я</span>
				<input type="text" class="input__input" placeholder="Ваше ім'я" />
			</label>
			<label class="input">
				<span class="input__label">Ваш номер телефону</span>
				<input type="tel" class="input__input" placeholder="+380 (___) ___ ___ ___" />
			</label>
			<label class="input">
				<span class="input__label"> Опишіть, що вас турбує </span>
				<textarea name="message" rows="4" class="input__input" placeholder="Причина звернення..."></textarea>
			</label>
			<span class="callback__notice">
				Заповніть форму і лікар зв'яжеться з вами впродовж однієї години.
			</span>
		</fieldset>
		<button type="submit" class="btn-accent btn-icon" title="Надіслати" aria-label="Надіслати">
			Надіслати
			<span class="icon">
				<svg>
					<use href="@img/sprite.svg#arrow" />
				</svg>
			</span>
		</button>
	</form>

	<form action="" class="modal__body" id="review">
		<button class="btn-modal modal-close" title="закрти модальне вікно" aria-label="закрти модальне вікно">
			<svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M7.00023 5.58672L11.9502 0.636719L13.3642 2.05072L8.41423 7.00072L13.3642 11.9507L11.9502 13.3647L7.00023 8.41472L2.05023 13.3647L0.63623 11.9507L5.58623 7.00072L0.63623 2.05072L2.05023 0.636719L7.00023 5.58672Z"
					fill="currentColor" />
			</svg>
		</button>
		<fieldset>
			<legend class="section-title">Написати відгук</legend>
			<label class="input">
				<span class="input__label">Ваше ім'я та прізвище</span>
				<input type="text" class="input__input" placeholder="Ваше ім'я" />
			</label>
			<label class="input">
				<span class="input__label">Ваш номер телефону</span>
				<input type="tel" class="input__input" placeholder="+380 (___) ___ ___ ___" />
			</label>
			<label class="input">
				<span class="input__label"> Ваш коментар </span>
				<textarea name="message" rows="4" class="input__input" placeholder="Причина звернення..."></textarea>
			</label>
		</fieldset>
		<button type="submit" class="btn-accent btn-icon" title="Надіслати" aria-label="Надіслати">
			Надіслати
			<span class="icon">
				<svg>
					<use href="@img/sprite.svg#arrow" />
				</svg>
			</span>
		</button>
	</form>
</div>