.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 14px;
  border: 1px solid $text-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  color: $text-color;
  position: relative;
  overflow: hidden;
  width: fit-content;
  transition:
    $transition background-color,
    $transition color,
    $transition padding,
    $transition border-color,
    $transition font-size,
    $transition filter;

  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: $ripple-color;
  }

  @keyframes ripple {
    to {
      transform: scale(0.5);
      opacity: 0;
    }
  }

  &:focus:not(.actions__link) {
    background-color: $accent-color;
    color: #fff;
    border-color: transparent;
    outline: none;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.actions__link, .btn-accent) {
      background-color: $accent-color;
      color: #fff;
      border-color: transparent;
    }
  }
}


.btn-secondary {
  @extend .btn-primary;
  padding: 1.1875rem 1.5rem;
  border: 1px solid transparent;
  background-color: #fff;

}

.btn-accent {
  @extend .btn-primary;
  color: #FFF;
  font-weight: 500;
  letter-spacing: -0.16px;
  background-color: $accent-color;
  border: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.actions__link) {
      filter: brightness(1.1);
    }
  }

  &_dark {
    background-color: $background-button-color;

    &:focus:not(.actions__link) {
      background-color: $background-button-color;
      filter: brightness(1.1);
    }

    &.btn-icon .icon {
      background-color: lighten($color: $background-button-color, $amount: 7%);
    }
  }
}


.btn-icon {
  padding: 16px 24px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: lighten($color: $accent-color, $amount: 7%);
    margin-left: 16px;

    svg {
      width: 1rem;
      height: 1rem;
      color: #fff;
      transform: rotate(45deg);
      transition: $transition transform;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.actions__link) {
      & .icon {
        svg {
          transform: rotate(0deg);
        }
      }
    }
  }
}

.btn-modal {
  padding: 1rem;
  border: none;

  svg {
    width: 0.875rem;
    height: 0.875rem;
    transition: $transition color;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.actions__link) {
      svg {
        color: $accent-color;
      }
    }
  }
}

@include _mobile {
  .btn-primary {
    padding: 1rem 1.5rem;
  }
}