html {
  box-sizing: border-box;

  // @include _desktop-small {
  //   font-size: 15px;
  // }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: 'Montserrat', -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue', sans-serif;
  background-color: $background-color;
  color: $text-color;
  -ms-overflow-style: none;
  /* Hide the default scrollbar */

  &.no-scroll {
    overflow: hidden;
    padding-right: 8px;

    .header {
      padding-right: 8px;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: lighten($color: $accent-color, $amount: 10%);
    cursor: pointer;
  }
}

main {
  padding-top: 104px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}

a,
button {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul,
menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.64;
}

.mobile-only {
  display: none;
}

.caption {
  color: inherit;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.32px;
}

.section-title {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -3px;
}

.h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.64px;
}

.card-title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.96px;
}

.text {
  p {
    color: inherit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 3rem;
    margin-top: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.image-parallax {
  position: relative;
}

.parallax {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $text-color;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(0, 0);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: vertical;
}

@include _desktop-small {

  .section-title {
    font-size: 3rem;
  }

  .container {
    padding: 0 2rem;
  }
}

@include _tablet {
  body.no-scroll {
    padding-right: 0;

    .header {
      padding-right: 0;
    }
  }

  .mobile-only {
    display: block;
  }

  .section-title {
    font-size: 2.5rem;
    margin: 1rem 0;
  }


  .text {
    p {
      line-height: 1.4;
    }
  }

  .h3 {
    font-size: 1.8rem;
  }
}

@include _mobile {
  main {
    padding-top: 96px;
  }

  .container {
    padding: 0 1rem;
  }

  .section-title {
    font-size: 2rem;
    letter-spacing: -1px;
  }
}