// colors
$border-color: #DADCE2;
$background-color: #EDECEE;
$background-color-dark: #1C253A;
$accent-color: #CDB06D;
$accent-shadow-color: rgba(227, 197, 128, 0.5);
$ripple-color: rgba(255, 255, 255, 0.7);
$text-color: #1C253A;


$transition: 0.3s ease-in-out;