.department {
  padding: 7.5rem 0 12.125rem 0;
  background-color: $background-color-dark;
  margin-bottom: 7.5rem;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .caption {
    color: #fff;
  }

  .section-title {
    color: $title-color-light;

  }

  .section-title__icon {
    display: inline-flex;
    position: relative;
    top: 1rem;
  }

  .content {
    width: 49.4%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: $text-color-light;

    .btn-accent {
      margin-top: 3rem;
    }
  }
}

@include _tablet {
  .department {
    padding: 4.5rem 0;
    margin-bottom: 4.5rem;

    .container {
      display: flex;
      gap: 3rem;
      align-items: center;
    }

    .content {
      width: 60%;
    }
  }
}

@include _mobile {
  .department {
    padding: 3rem 0;
    margin-bottom: 3rem;
    overflow: hidden;

    .container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .content {
      width: 100%;
    }
  }
}