.services-carousel {
  position: relative;
  padding: 2rem 0;
  color: #fff;
  z-index: 1;
  min-height: 374px;
  margin-bottom: 8.5rem;

  & .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }

  & .caption {
    min-width: 200px;
    max-width: 200px;
    margin-right: 1.5rem;
  }

  &__background {
    width: 93.20%;
    height: 100%;
    background-color: $background-color-dark;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  &__swiper {
    margin-right: 111px;
    margin-left: 0;
  }

  & .carousel-navigation {
    position: absolute;
    bottom: 0;
    left: 4rem;
  }
}


@include _tablet {
  .services-carousel {
    margin-bottom: 4.25rem;
  }
}

@include _mobile {
  .services-carousel {
    margin-bottom: 3rem;
    padding: 3rem 0;

    &__swiper {
      width: 100%;
    }

    & .container {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      // justify-content: center;
    }

    & .carousel-navigation {
      position: static;
    }
  }
}