.services {
  margin-bottom: 15.25rem;

  .caption {
    margin-bottom: 1.5rem;
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    border-top: 1px solid $border-color;
    gap: 3rem;
  }
}

#services-page {
  .services {
    margin-bottom: 16rem;
  }
}

@include _tablet {
  .services {
    margin-bottom: 4.25rem;
  }

  #services-page {
    .services {
      margin-bottom: 4.25rem;
    }
  }
}

@include _mobile {
  #services-page {
    .services {
      margin-bottom: 3rem;
    }
  }

  .services {
    margin-bottom: 3rem;
  }
}