.callback {
  margin-bottom: 6rem;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .caption {
    display: block;
    margin-bottom: 3rem;
  }

  &__description {
    max-width: 644px;
    width: 100%;
  }

  &__form fieldset,
  &__description,
    {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__form fieldset {
    margin-bottom: 3.5rem;
  }

  &__notice {
    color: $text-placeholder-color;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9;
    margin-top: 1.5rem;
    /* 187.5% */
  }

  // &__img {
  //   margin-bottom: 9rem;
  // }
}

@include _desktop-small {
  .callback {
    .container {
      align-items: center;
    }
  }
}

@include _tablet {
  .callback {
    margin-bottom: 4.25rem;

    &__notice {
      line-height: 1.4;
      margin-top: 1rem;
    }

    .container {
      gap: 2rem;
    }
  }
}

@include _mobile {
  .callback {
    margin-bottom: 3rem;

    &__form {
      margin: 0 auto;

      & fieldset {
        margin-bottom: 1.5rem;
      }
    }

    &__notice {}



    .caption {
      margin-bottom: 1rem;

    }

    &__img {
      display: none;
    }
  }
}