.footer {
  background-color: #1C253A;
  padding: 7.5rem 0;
  color: #fff;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo {
    margin-bottom: 1.5rem;
    max-width: 213px;
    height: 95px;
    width: 100%;

    svg {
      width: 100%;
      height: 100%;
      color: #fff;
    }
  }

  &__copyright {
    color: #58627A;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.58;
  }

  .footer-menu {

    &__title {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: 0.48px;
      margin: 0 0 1.25rem 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 0.75rem 0;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &__link {
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.64;
    }
  }

  .footer-contacts {

    &__title {
      @extend .footer-menu__title;
    }

    &__list {
      @extend .footer-menu__list;
    }

    &__item {}

    &__link {
      @extend .footer-menu__link;
    }
  }

  .footer-social {
    &__title {
      @extend .footer-menu__title;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 0.75rem 1.375rem;
    }

    &__item {
      border-radius: 50%;
      background-color: #2B3753;
      width: 3.5rem;
      height: 3.5rem;


    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

}


.to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  pointer-events: none;
  opacity: 0;
  transition: $transition opacity;
}

.to-top.active {
  opacity: 1;
  pointer-events: inherit;
}

@include _tablet {
  .footer {
    padding: 3rem 0;

    &__logo {
      max-width: 124px;
      height: 68px;
      margin-bottom: 0;
    }

    &__head {
      width: 100%;
    }

    .container {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 3rem;
    }

    &__copyright {
      text-align: center;
      width: 100%;
    }
  }
}


@include _mobile {
  .to-top {
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
  }
}