.header {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 1rem 0 1.5rem 0;
  background-color: $background-color;
  border-bottom: 1px solid $border-color;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    margin-right: 95px;
    min-width: 128px;

  }
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  gap: 0 64px;

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #1e1e1e;
    padding-bottom: 8px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $accent-color;
      width: 0;
      transition: $transition width;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover:after {
        width: 100%;
      }
    }
  }
}

.navigation-list,
.navigation-actions {
  display: flex;
  align-items: center;
  list-style: none;
}


.actions {
  &__item {
    margin-right: 16px;

    &:nth-child(2) {
      margin-right: 24px;
    }

    &:last-child .btn-primary {
      padding: 16px 24px
    }
  }

  &__link {
    text-decoration: none;
    color: $text-color;

    svg {
      width: 20px;
      height: 20px;
      color: $text-color;
      transform: scale(1);
      transition: $transition color, $transition transform;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover svg {
        color: $accent-color;
        transform: scale(1.2);
      }
    }

  }
}