.blog-carousel-card {
  background-color: #fff;
  color: $text-color;
  // max-width: 365px;
  box-sizing: content-box;

  &__img {
    width: 100%;
    object-fit: cover;

  }

  &__description {
    padding: 2rem 1.5rem 3.5rem;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    text-decoration-line: underline;
    //ellipses text
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;

  }
}


.caption {}